@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pixel";
  src: url("/font.ttf");
}
@font-face {
  font-family: "pixelen";
  src: url("fonten.ttf");
}

html {
  background-color: #000;
  color: white;
  user-select: none;
  width: 100vw;
  letter-spacing: 5px;
}
.scroll {
  width: 100%;
  overflow: hidden;
}
.main {
  background-color: #000;
}
.main .scroll {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
  overflow-y: hidden;
  width: 100%;
}
.main .scroll .nav img {
  height: 1.5rem;
}
.scroll .section.title {
  letter-spacing: 2rem;
}
.scroll .section.title .title-en {
  letter-spacing: 1rem;
}
.scroll .section {
  font-family: "pixel";
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container {
  margin: auto;
}

.moto {
  font-family: "pixel";
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding-bottom: 300vh;
  margin-bottom: 50vh;
}
.moto em {
  font-size: 2.5rem;
  font-style: normal;
  color: #1cee02;
}
.fashion {
  padding-bottom: 300vh;
  margin-bottom: 10vh;
}

.moto p {
  @apply mt-5;
  /* display:inline-block; */
  /* line-height: 2 ; */
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* padding:0 1em; */
}
.force .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  text-align: left;
  margin-bottom: 30rem;
}
.force .container .item {
  display: flex;
}

.force .container .item .title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.force .container .item .text {
  width: 70%;
}
.force .container .item .text .info {
  margin-left: 2rem;
}
.force .icon {
  width: 6rem;
  transform: translateY(-20%);
}
.scroll .footer {
  font-family: "pixel";
  margin-top: 8rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #000;
}
.scroll .machine {
  padding-bottom: 400vh;
}
.scroll .machine .container {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-align: left;
}
.scroll .machine .container em {
  font-size: 3rem;
  font-weight: 800;
  font-style: normal;
  color: #1cee02;
}
.scroll .machine .left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.scroll .machine .right {
  flex: 1;
  padding: 0 0rem;
  display: flex;
  /* justify-content: flex-end; */
}
.scroll .machine .right .content {
  width: 80%;
  transform: translateX(50%);
}
.scroll .footer .info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.footer .info .logo img {
  height: 1.5rem;
}
.footer .info.followUs {
  font-size: 2rem;
}
.threescene {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}
@media (max-width: 480px) {
  .scroll .section.title {
    font-size: 1rem;
    letter-spacing: 1rem;
  }
  .scroll .section.title .title-en {
    letter-spacing: 0.2rem;
  }
  .scroll .moto {
    font-size: 1rem;
  }
  .scroll .moto em {
    font-size: 1.5rem;
  }
  .scroll .force {
    /* padding-bottom: 100vh; */
    height: auto;
  }
  .force .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
  }
  .force .container .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
  }
  .force .container .item .text {
    width: 100%;
  }
  .force .container .item .text .title {
    font-size: 2rem;
    margin-left: -1.3rem;
    margin-top: 1em;
  }
  .force .container .item .text .info {
    margin-left: 0;
  }
  .force .icon {
    width: 7rem;
    justify-self: center;
    transform: translateY(0);
  }
  .scroll .footer {
    display: flex;
    margin-top: 24rem;
    flex-direction: column;
    gap: 2rem;
  }
  .scroll .footer .info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .scroll .machine {
    margin-bottom:30vh;
  }
  .scroll .machine .container {
    display: block;
    font-size: 1rem;
  }
  .scroll .machine .container .left {
    padding: 0 2rem;
    flex: 0;
  }
  .scroll .machine .right .content {
    margin-top:35vh;
    width: 100%;
    transform: translateX(0);
    padding: 0 2rem;
  }
  .scroll .machine {
    padding-bottom: 400vh;
  }
  .scroll .machine .container em {
    font-size: 2.3rem;
    font-weight: 800;
    font-style: normal;
    color: #1cee02;
  }
  .force .container {
    margin-bottom: 5rem;
  }
  .force .container .item img {
    width: 4rem;
  }
}
